
.cellSmall {
  width: 10%;
  text-align: center;
}

.cellLarge {
  text-align: center;
  width: 40%;
}

.cell {
  text-align: center;
  width: 5%;
}

.cellXSmall {
  text-align: center;
  width: 5%;
}

.table {
  width: 100%;
  text-align: center;
}
.file-input {
  display: none;
}
