<p><strong> Check List</strong></p>
<button style=" display: inline-block ;" mat-raised-button color="primary" (click)="onCreateNewCheckListItemClick()">
  Create new Checklist Item
</button>
<br/>
<br/>
<br/>

<table class='table'  *ngIf="checkListItemList">

  <thead>
  <tr style="text-align: center">
    <th class="cellSmall">Item Id</th>
    <th class="cellLarge">Item Description</th>
    <th class="cellLarge">User Comment</th>
    <th class="cellSmall">Status</th>
    <th class="cellSmall">Result</th>
    <th>Edit</th>
    <th>Save</th>

  </tr>
  </thead>
  <tbody >

  <tr *ngFor="let checkListItem of checkListItemList"
      [ngClass]="{highlight: checkListItem.checkListItemId == selectedCheckListItem}">

    <td >{{ checkListItem.checkListItemId}} <span *ngIf = "checkListItem.essential"> <mat-icon>star</mat-icon></span></td>


    <td >

      <div *ngIf="!checkListItem.isEdit"> {{checkListItem.description}}   </div>
      <div *ngIf="checkListItem.isEdit">
        <form [formGroup]="editForm">
          <mat-form-field>
            <mat-label>Edit description</mat-label>
            <textarea matInput formControlName="description"
                      cdkTextareaAutosize
                      #autosize1="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </form>


      </div>

    </td>


    <td >
      <div *ngIf="!checkListItem.isEdit"> {{checkListItem.userComment}}   </div>
      <div *ngIf="checkListItem.isEdit">
        <form [formGroup]="editForm">
          <mat-form-field style="width: 70%" >
            <mat-label>Write Comment</mat-label>
            <textarea matInput formControlName="userComment"
                      cdkTextareaAutosize
                      #autosize2="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </form>
      </div>
    </td>

    <td >
      <div *ngIf="!checkListItem.isEdit">
        {{checkListItem.status}}</div>
      <div *ngIf="checkListItem.isEdit">
        <form [formGroup]="editForm">
          <mat-form-field style="width: 70%" >
            <mat-label  > Update Status </mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="status" *ngFor="let status of StatusList"> {{status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </td>

    <td>
      <div *ngIf="!checkListItem.isEdit">
        <div *ngIf="checkListItem.resultType === 'File'">
          <div *ngIf="checkListItem.result === ''">
            <span> No File uploaded yet. </span>
          </div>

          <div *ngIf="checkListItem.result !== ''">
            <a href="{{ checkListItem.result  }}" target="_blank" ><mat-icon>attach_file</mat-icon></a>
          </div>

        </div>

        <div *ngIf="checkListItem.resultType !== 'File'">
          <span>{{checkListItem.result}}</span>
        </div>
      </div>


      <div *ngIf="checkListItem.isEdit">

        <form [formGroup]="editForm">


          <mat-form-field  *ngIf = "checkListItem.resultType == 'File'" style="width: 60%">
            <mat-label >
              Paste file link
            </mat-label>
            <input  matInput
                    placeholder="https://example.com"

                    formControlName = "result" >

          </mat-form-field>

          <mat-form-field  *ngIf = "checkListItem.resultType == 'Boolean'" style="width: 50%">
            <mat-label>Select</mat-label>
            <mat-select formControlName="result" >

              <mat-option [value]="Result" *ngFor="let Result of BooleanResultList">
                {{Result}}
              </mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf = "checkListItem.resultType == 'Numeric'" style="width: 50%; text-align: center">
            <mat-label> {{checkListItem.bestCase}} to {{checkListItem.worstCase}}</mat-label>
            <input matInput formControlName="result" >
          </mat-form-field>

        </form>

      </div>

    </td>

    <td>
      <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <button mat-menu-item  (click)="onEditCheckListItemClick(checkListItem.checkListItemId)">

          <span>Edit</span>
        </button>

        <button mat-menu-item  (click)= "onDeleteCheckListItemClick(checkListItem.checkListItemId)" >

          <span>Delete</span>
        </button>

      </mat-menu>
    </td>

    <td>
      <button *ngIf="checkListItem.isEdit" mat-icon-button (click)="onSave(checkListItem)"><span><mat-icon>save</mat-icon></span></button>
      <button *ngIf="!checkListItem.isEdit" mat-icon-button (click)="onEdit(checkListItem)"><span><mat-icon>edit</mat-icon></span></button>
    </td>

  </tr>


</table>

