
<form class="example-form" >
  <mat-form-field class="example-full-width" appearance="fill">


    <mat-label>{{description | uppercase}}</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Search"
           matInput
           [matAutocomplete]="auto"
            [formControl]="myControl">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async"
                  [value]="option"

                  (click)="onRowClick(option)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


