<style>

  .td-center{
    text-align: center;
  }

.planned{
  visibility: hidden;
  }
.unplanned {color: red}

.line { display: inline;
 /*vertical-align: text-top;*/

}
  .my-element {
    display: inline-block;

    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
    animation-iteration-count: 20;/* don't forget to set a duration! */
  }
</style>
<div class="profile-page">
<div class="user-info" style ="padding:  1rem ">
  <div class="container" >
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <h3 *ngIf = "greetMessage" class = "line"  >{{greetMessage+ ' ' }}{{ Name | titlecase }}</h3>


        <mat-form-field appearance="fill" class="pull-xs-right">
          <mat-label>{{'Change User'}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let user of this.options" [value]="user" (click)= updateProfile(user) >
              {{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <form [formGroup]="newDate" class="example-form line" style="display: inline">
        <mat-form-field class="pull-xs-left">
          <label >Select Date</label>
          <input matInput formControlName ="newDate1" [matDatepicker]="picker3"
                 (dateInput)="onDateChange($event)" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>


        </form>

      </div>

    </div>



  </div>
</div>

<div class = "mat-h2">
<table class='table' *ngIf="TaskSummaryList">
  <thead>
  <tr>
    <th class = "td-center">Summary</th>


    <th>Description</th>
    <th>Expected Output</th>
    <th>Hrs </th>
    <th>Actual Output</th>
    <th>Action</th>


  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let taskSummary of sortedTaskSummaryList" (click)="selectTaskSummary($event, taskSummary)"
      >

    <td class = "td-center" [ngClass]="{
                                    'unscheduled': taskSummary.task.status === '',
                                    'scheduled' : taskSummary.task.status === 'yettostart',
                                    'ongoing' : taskSummary.task.status === 'ongoing',
                                    'completed' : taskSummary.task.status === 'completed',
                                    'paused' : taskSummary.task.status === 'onhold'

                                     }">{{taskSummary.taskSummaryId}}<span> <a [routerLink]="['/article/',taskSummary.taskId ]">{{'('+ taskSummary.taskId+')'}}</a> </span>
    <span> <mat-icon [ngClass]="{'planned':taskSummary.taskSchedule.isPlanned === true, 'unplanned' :taskSummary.taskSchedule.isPlanned === false}">schedule</mat-icon></span> </td>

    <td [ngClass]="{
                                    'unscheduled': taskSummary.task.status === '',
                                    'scheduled' : taskSummary.task.status === 'yettostart',
                                    'ongoing' : taskSummary.task.status === 'ongoing',
                                    'completed' : taskSummary.task.status === 'completed',
                                    'paused' : taskSummary.task.status === 'onhold'

                                     }">
      {{ taskSummary.description }} </td>
    <td>{{ taskSummary.expectedOutput }}</td>
    <td>{{ taskSummary.expectedHour }}/{{'('+  taskSummary.systemHours |slice:0:5}}{{ ')'}}</td>
    <td>{{ taskSummary.actualOutput}} </td>


    <td><mat-button-toggle-group>
      <mat-button-toggle [hidden] = "taskSummary.action == 'start'" value="start" (click) = onClickStart(taskSummary)><mat-icon>play_arrow</mat-icon></mat-button-toggle>
      <mat-button-toggle class="my-element"  [hidden] = "taskSummary.action == 'stop'|| taskSummary.action == null" value="stop" (click) = onClickStop(taskSummary)><mat-icon>stop</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>

  </tr>

  </tbody>
  <tfoot>
  <tr>

    <td></td>
    <td></td>
    <td><b>Hrs</b></td>
    <td> <b>{{ totalExpectedHr }}/{{'(' + totalActualHr | slice: 0:5 }}{{ ')'}} </b></td>
    <td></td>
    <td></td>
  </tr>
  </tfoot>
</table>

</div>

</div>

<!--<div class="row" style="margin-bottom:15px;">-->
<!--  <div class="col-md-3">-->
<!--    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">-->
<!--    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>-->
<!--  </div>-->
<!--  <div class="col-md-4">-->
<!--    <span class="upload" *ngIf="progress > 0">-->
<!--      {{progress}}%-->
<!--    </span>-->
<!--    <span class="upload" *ngIf="message">-->
<!--      {{message}}-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->
