.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
.unscheduled {background-color: white}
.scheduled {background-color: #D9D7F1}
.ongoing {background-color: #FFFDDE}
.completed{background-color: #E7FBBE}
.paused {background-color: gray}
.critical {background-color: #FFCBCB}
