
<div class ="container">

  <div class = "row">
    <div class = "col-xs-12">
      <table class="header" >
        <thead>
        <th>
          <h5 >Detail of Sprint ID- {{sprintId}}</h5>
        </th>
        <th>

        </th>
        </thead>
      </table>
    </div>
  </div>
</div>
<mat-paginator #paginator
               [length]="length"
               [pageIndex]="pageIndex -1 "
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="updateList($event)"
>
</mat-paginator>
<div *ngIf="$event">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{$event.length}}</div>
  <div>Page size: {{$event.pageSize}}</div>
  <div>Page index: {{$event.pageIndex}}</div>
</div>
<span>
<table class = "table">
  <thead >
  <tr>
    <th class = "cellSmall"> Task Id (Check list Id)</th>
      <th class = "cellLarge"> Task Description</th>

<!--    <th class = "cellSmall">Check list Id</th>-->
    <th class = "cellLarge">Description</th>
    <th class = "cellSmall">Status</th>
    <th class = "Small">Result</th>
    <th class = "cellLarge">User Comment</th>
    <th class = "cellLarge">Manager Comment</th>
    <th class = "cellSmall">Approved</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let checkListItem of lineItems"  >

    <td> {{checkListItem.taskId}} ({{checkListItem.checkListItemId}})</td>
    <td> {{checkListItem.taskDescription}}</td>
<!--    <td>{{checkListItem.checkListItemId}}</td>-->
    <td>{{checkListItem.description}}</td>
    <td>{{checkListItem.status}}</td>
    <td>
      <span *ngIf = "checkListItem.resultType === 'Numeric'">best-{{checkListItem.bestCase}}<br>got-{{checkListItem.result}}<br>
      worst-{{checkListItem.worstCase}}</span>

      <span *ngIf="checkListItem.resultType === 'File'">
        <span *ngIf="checkListItem.result == null">
          No file uploaded yet
        </span>

        <span *ngIf="checkListItem.result !== null">

          <a href="{{ checkListItem.result  }}" target="_blank" ><mat-icon>attach_file</mat-icon></a>
        </span>
      </span>
      <span *ngIf = "checkListItem.resultType === 'Boolean'" >{{checkListItem.result}}</span></td>


    <td >{{checkListItem.userComment}}</td>

    <td>
      <div  *ngIf="!checkListItem.isEdit">{{checkListItem.managerComment}}</div>
      <div *ngIf="checkListItem.isEdit">

      <form [formGroup]="editForm">
        <mat-form-field>
          <mat-label>Write Comment</mat-label>
          <textarea matInput formControlName="managerComment"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>

        </mat-form-field>
      </form>
      </div>
    </td>

    <td>
      <div *ngIf="!checkListItem.isEdit">{{checkListItem.approved}}</div>
      <div *ngIf="checkListItem.isEdit">


      <form [formGroup]="editForm" style=" width: 100px;">

        <mat-form-field style="width: 100px">
          <mat-label >Approve</mat-label>

          <mat-select formControlName="approved" >

            <mat-option [value]="Approval" *ngFor="let Approval of ApprovedValues">
              {{Approval}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </form>
      </div>
    </td>
    <td style="vert-align: middle">
      <button *ngIf="checkListItem.isEdit" mat-icon-button (click)="onSave(checkListItem)"><span><mat-icon>save</mat-icon></span></button>
      <button *ngIf="!checkListItem.isEdit" mat-icon-button (click)="onEdit(checkListItem)"><span><mat-icon>edit</mat-icon></span></button>

    </td>

  </tr>

  </tbody>
</table>
</span>
