.table {
  margin-left: 3%;
  width: 95%;
  text-align: left !important;
}

.cellLarge {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  max-width: 18% !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  height: fit-content;
  text-align: left !important;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.cellSmall {
 word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 6% !important;
  overflow-wrap: break-word !important;
  word-break: break-word;
  height: auto;
  text-align: left;
  margin-left: 1%;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.header th {
  margin-bottom: 2%;
  width: 100%;
  text-align: left;
}

.save {
  margin-left: 75%;
  display: inline-block;
}

.comment {

  max-width: 10px !important;
  overflow-wrap: break-word;
  word-break: break-word !important;
  height: fit-content;
  word-wrap: break-word !important;
  white-space: unset !important;
}
