<br />
<h1 mat-dialog-title>{{ isEdit ? "Update Dependency" : "Add Dependency" }}</h1>

<div mat-dialog-content>

  <form [formGroup]="newDependency">


    <mat-form-field>
      <label >Item Id</label>
      <input matInput formControlName="dependencyId" required />
      <mat-error *ngIf="newDependency.get('dependencyId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />
    <br />

    <mat-form-field>
      <label >Task Id</label>
      <input matInput formControlName="taskId" required />
      <mat-error *ngIf="newDependency.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />
    <br />


    <mat-form-field>
      <mat-label>Dependent Task id</mat-label>
      <input matInput formControlName="dependentTaskId" />
    </mat-form-field>

    <br />
    <br />

    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input matInput formControlName="comment" />
    </mat-form-field>
  </form>
</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial [disabled]="newDependency.invalid"
          (click)="onCreateOrUpdate()">
    {{ isEdit ? "Update" : "Add Item" }}
  </button>
</div>
