<style>
  .master {
    margin-right:5%
  }
  .mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;

  }
  .tag-pill{
    cursor:pointer;
  }



</style>

<div class="author" xmlns="http://www.w3.org/1999/html" >


<mat-accordion  >
  <mat-expansion-panel
    (click)= "getTaskHierarchy()"
    [ngClass]="{
                                    'critical' : SearchTask.deadline == null? true : SearchTask.deadline.toString() < this.currentDate,
                                    'unscheduled': SearchTask.status === '',
                                    'scheduled' : SearchTask.status === 'yettostart',
                                    'ongoing' : SearchTask.status === 'ongoing',
                                    'completed' : SearchTask.status === 'completed',
                                    'paused' : SearchTask.status === 'onhold'

                                     }">
<!--    SearchTask.deadline.toString()-->
    <mat-expansion-panel-header >
      <mat-panel-title
        >
        <a
          [routerLink]="['/article/',SearchTask.taskId ]">
          {{SearchTask.taskId}} - {{ SearchTask.description==null ? "" :  (SearchTask.description.length>50)? (SearchTask.description | slice:0:50)+'..':(SearchTask.description) }}
        </a>


        <div class="tag-list" [hidden]="!SearchTask.isRemoved" >
          <a class="tag-default tag-pill">
            {{ 'Removed' }}
          </a>
        </div>
      </mat-panel-title>

    <mat-panel-description>

      <button  class="pull-xs-right btn btn-sm btn-outline-danger" (click)= "onUpdateOrScheduleNewTask(SearchTask)">
        <i class="icon ion-star"></i>
      </button>

    </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
    <p class="master"> </p>
    <div  *ngIf="TaskHierarchy">


      <a
        *ngFor="let childTaskId of TaskHierarchy.childrenTaskIdList"
        [routerLink]="['/article',childTaskId]">
        {{childTaskId}}>
      </a>
    </div>



    <a [routerLink]="['/article',SearchTask.taskId]" class="preview-link">
      <h6>Deadline:  {{ SearchTask.deadline|date: 'longDate'}}</h6>
      <h6>Status:  {{ SearchTask.status }}</h6>
      <span>Read more...</span>
    </a>
  </mat-expansion-panel>

</mat-accordion>
</div>






