



<form [formGroup]="newTaskSummary" >


  <li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="taskSummaryId" placeholder="Task Summary Id">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="taskId" placeholder="TaskId">
  </mat-form-field>
  </li>


  <li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="description" placeholder="Description">
  </mat-form-field>
  </li>


  <li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="expectedOutput" placeholder="Expected Output">
  </mat-form-field>
  </li>

  <li class="mat-form-field--inline">
    <mat-form-field>
      <input matInput formControlName="actualOutput" placeholder="Actual Output">
    </mat-form-field>
  </li>


    <mat-form-field>
      <input matInput formControlName="expectedHour" placeholder="Expected Hours">
    </mat-form-field>


    <mat-form-field>
      <input matInput formControlName="systemHours" placeholder="System Hours">
    </mat-form-field>

</form>
<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onAdd()">
 Save
</button>
