
<div class="sidebar" style="box-sizing: content-box; margin-top: 9px">

  <div class="row text-center">

    <div class="col-md-4">

      <div class="btn-group">

        <button mat-button mwlCalendarPreviousView (click)="navigate(viewDate)" [view]="view" [(viewDate)]="viewDate">
          <mat-icon><span class="material-symbols-outlined">
navigate_before
</span></mat-icon> </button>

<button mat-button mwlCalendarNextView (click)="navigate(viewDate)" [view]="view" [(viewDate)]="viewDate">
  <mat-icon><span class="material-symbols-outlined">
navigate_next
</span></mat-icon>

</button>

      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">

        <button mat-button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
         <mat-icon><span class="material-symbols-outlined">
<span class="material-symbols-outlined">
calendar_view_month
</span>
</span></mat-icon>
        </button>
        <button mat-button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          <mat-icon><span class="material-symbols-outlined">
view_week
</span></mat-icon>
        </button>
      </div>
    </div>
    <div>Current Month: {{viewDate.getMonth() + 1}}</div>
    <br> <br>
    <div [ngSwitch]="view">

      <mwl-calendar-month-view
        (dayClicked)="dayClickedInMonthView($event.day)"
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events">
      </mwl-calendar-month-view>

      <mwl-calendar-week-view
        (dayHeaderClicked)="dayClickedInWeekView($event)"
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [dayStartHour]=8
        [dayEndHour]=24
      [weekStartsOn]=1>
      </mwl-calendar-week-view>
    </div>
  </div>
</div>
