.description {
  width: 50% !important;
  text-align: center;
  position: relative;

}
.sprintNo {
  width: 15% !important;
  text-align: center;
  position: relative;


 }

.fromDate {
  width: 15% !important;
  text-align: center;
  position: relative;

}

.toDate {
  width: 20% !important;
  text-align: center;
  position: relative;
}

.status{
  width: 20% !important;
  position: relative;


}
.score{
  width: 5% !important;
  position: relative;


}
.profileName {
  display: inline;
  margin-left: 20%;
}

.cellLarge {  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  height: fit-content;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.cellSmall { word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word !important;
  word-break: break-word;
  height: auto;
  text-align: center;
  margin-left: 1%;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
.cell { word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;}

.cellXSmall {
  width: 5% !important;
}
.table {

width: 90%
}
