<div class ="container">

  <div class = "row">
    <div class = "col-xs-12">
      <table style="width: 100%">
        <thead>
        <th>
          <mat-form-field appearance="fill" class="pull-xs-left">
            <mat-label>{{'Change User'}}</mat-label>
            <mat-select>
              <mat-option *ngFor="let user of this.options" [value]="user" (click)= updateProfile(user) >
                {{user}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>

        <th>
          <h3 class = "profileName">{{profileName | titlecase}}'s Sprint</h3>
        </th>
        </thead>
      </table>


    <app-sprint-task-summary [pId] = "profileId" [loggedInId] = "loggedInUser"
    ></app-sprint-task-summary>
    </div>
  </div>
</div>
