<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }
  .is-act {
    background-color: mediumaquamarine;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .app-class .mat-list-item {
    height: auto;}
</style>



<div class="col-sm-12">

  <br />
  <h4 *ngIf="!receivedTaskId">Please select a Task.</h4>
  <h4 *ngIf="receivedTaskId && !this.shortTaskList">Loading...</h4>


  <div *ngIf="shortTaskList && receivedTaskId">

    <p *ngIf="shortTaskList?.length == 0">No project exists.</p>
    <br/>
    <button mat-raised-button color="primary" (click)="onAddNewTaskButtonClick()">
      Create Child Task
    </button>

    <br />
    <br />

    <mat-list class = "app-class">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let task of this.shortTaskList "

                     (click)="onRowClick(task.taskId)"
                     [ngClass]="{'critical' : task.deadline.toString() < this.currentDate,
                     'unscheduled': task.status === '',
                                    'scheduled': task.status === 'yettostart',
                                    'ongoing' : task.status === 'ongoing',
                                    'completed' : task.status === 'completed',
                                    'paused' : task.status === 'onhold',
                                    'is-active' : task.taskId === highlightId || task.taskId === selectedTaskId }"

      >


        <div mat-line>{{task.taskId +'. '+ task.description}} </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon></button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onVisitTask()">

            <span>View</span>
          </button>

          <button mat-menu-item (click)="onRemoveTaskButtonClick(task.taskId)">

            <span>Remove</span>
          </button>

        </mat-menu>

        <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>

<!--[routerLinkActive]="['is-active']"-->
<!--[routerLink]='["/task-tree"]'-->
<!--[queryParams]= " level === '1'? {L1: parameter.L1 ,L2:task.taskId} : level === '2' ? {L1: parameter.L1, L2: parameter.L2, L3: task.taskId } : level === '3' ? {L1:receivedTaskId}: '' "-->
<!--'critical' : task.deadline.toString() < this.currentDate,-->
