<br> <br>
<h4 *ngIf="results.length == 0" style="text-align: center">
 End of list</h4>

<div *ngIf="results">



<app-article-preview

  *ngFor="let task of results"
  [SearchTask] ="task" [Profiles] = "Profiles">
</app-article-preview>

</div>

<!--<nav [hidden]="loading || totalPages.length <= 1">-->
<!--  <ul class="pagination">-->

<!--    <li class="page-item"-->
<!--      [ngClass]="{'active': pageNumber === currentPage}"-->
<!--      *ngFor="let pageNumber of totalPages"-->
<!--      (click)="setPageTo(pageNumber)">-->

<!--      <a class="page-link" >{{ pageNumber }}</a>-->

<!--    </li>-->

<!--  </ul>-->
<!--</nav>-->
