<style>
  .paginator {
    margin-left: 0;
    width: 210px;
justify-content: left;
  }
</style>
<mat-paginator class="paginator"  #paginator
               [length]="length"
               [pageIndex]="pageIndex - 1  "
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)=" updateList($event)"
               [disabled] = "clicked">
</mat-paginator>
<h3><strong> Search Tasks</strong></h3>

<app-auto-search [options]="this.options"
                 [description]= "'search-filter by Tag'"
                 [baseUrl]="''"
                 [search]="'search'"
                 (newItemEvent) = "_searchByTag($event)"
></app-auto-search>

<form [formGroup]="searchForm" class="example-form">

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="Description">
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Created By</mat-label>
    <mat-select  formControlName ="createdBy">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select  formControlName ="assignedTo">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select  formControlName ="status" >
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of StatusList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Task Id</mat-label>
    <input matInput formControlName="taskId" placeholder="Task Id">
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Include Removed Tasks</mat-label>
    <mat-select [(value)] = initialValue formControlName ="includeRemoved">
      <mat-option [value]="true"> True</mat-option>
      <mat-option [value]="false">False</mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <label >Deadline</label>
    <input matInput formControlName ="deadline" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br/>
  <br/>

</form>

<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onSearch()" [disabled] = "clicked">
  Search
</button>

<br/>
<br/>
<p><input type="text" id="username" name="username" [(ngModel)]="AddTag"></p>
<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onAdd()">
  Add Tag
</button>
