<script src="add-or-edit-checklist-dialog.component.ts"></script>
<style>
  .viewCheckList {
    width: 500px;

  }

  .fieldView {
    margin-right: 5%;
    width: 45%;
  }
  .fieldViewFull {
    margin-right: 5%;
    width: 95%;
  }
</style>


<h1 mat-dialog-title>{{ isEdit ? "Update Item" : "Add Item" }}</h1>

<form [formGroup]="newChecklistItem" class="viewCheckList" >

  <mat-form-field class = "fieldView">
    <label >Item Id</label>
    <input matInput formControlName="checkListItemId" required />
    <mat-error *ngIf="newChecklistItem.get('checkListItemId').invalid">You must enter a value</mat-error>
  </mat-form-field>


  <mat-form-field class = "fieldView">
    <label >TaskModel Id</label>
    <input matInput formControlName="typeId" required />
    <mat-error *ngIf="newChecklistItem.get('typeId').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class = "fieldViewFull">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" required>
  </mat-form-field>

  <br>
  <mat-form-field class = "fieldView">
    <mat-label>Status</mat-label>
    <mat-select formControlName = "status" [(value)] = selectedStatus>
      <mat-option [value]="status" *ngFor="let status of StatusList" >
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class = "fieldView" >
    <mat-label>Essential</mat-label>
    <mat-select formControlName = "essential">
      <mat-option [value]="essential" *ngFor="let essential of essentialList">
        {{essential}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <br />

  <mat-form-field class = "fieldView">
    <mat-label>Result-type</mat-label>
    <mat-select (change)="selectResult(result.value)" formControlName="resultType" #result>

      <mat-option [value]="Result" *ngFor="let  Result of ResultList" >
        {{Result}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field class = "fieldView" *ngIf="result.value == 'Numeric'">

    <mat-label>worstCase</mat-label>
    <input matInput formControlName="worstCase" />
  </mat-form-field>

  <mat-form-field class = "fieldView"  *ngIf="result.value == 'Numeric'" >

    <mat-label>bestCase</mat-label>
    <input matInput formControlName="bestCase" />
  </mat-form-field>

  <br />

  <br />

</form>

<div mat-dialog-actions >
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button  mat-raised-button  color="primary"  [disabled] = "!newChecklistItem.valid || clicked"
          (click)="isEdit? onUpdate(): onCreate()">
    {{ isEdit ? "Update" : "Add Item" }}
  </button>
</div>

