
<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">FlexliOne</h1>
      <p>A place to  <i>Plan</i> your Day.</p>
    </div>
  </div>



<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == ''">Need an account?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group"  *ngIf="authType == 'register'" >
              <a style="color: #5cb85c; font-size: 15px">Username</a>
              <input
                formControlName="name"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"/>


            </fieldset>
            <fieldset class="form-group">
              <a style="color:  #5cb85c; font-size: 15px">Email</a>
              <input
                formControlName="emailId"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <fieldset class="form-group">
              <a style="color: #5cb85c; font-size: 15px">Password</a>
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
            <button class="btn btn-lg btn-primary pull-xs-left"
                    (click)="otpTrigger()" >
              Forgot Password?
            </button>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>
</div>
