<h2 mat-dialog-title> Alert </h2>

<mat-dialog-content>Are you sure {{data.message }} </mat-dialog-content>


<mat-dialog-actions>

  <button mat-button mat-dialog-close = "true">Yes</button>
  <button mat-button mat-dialog-close = "false" >No</button>
</mat-dialog-actions>
