.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

td , th {
  white-space: normal;
  word-wrap:break-word ;
  max-width: 200px;
}

.moreOptions {
  margin-top: 0;
  margin-left: 0;
}

.remove {
  border: #dbdbdb;
  padding: 0;
  margin-left: 0.5rem;
}
.chip-row {
  margin: 2rem 0 0 0.5rem;

}

.cancelIcon {
  color: darkgray;
  vertical-align: middle;
  background-color: white;
}

.labelName {
  padding-top: 1rem;
}

.saveLabel {
  position: relative;
  margin-left: 1rem;
  vertical-align: center;
}

