
<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1> {{headerText}} {{ task.taskId }}</h1>

    </div>
  </div>

  <div class="container page" style="">
    <div>
    <app-task-form [taskForm]="TaskForm"></app-task-form>

    <button class="moreOptions" mat-icon-button [matMenuTriggerFor]="menu"  >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item   (click)="seeInTaskTree()">

        <span>See in Task Tree</span>
      </button>

      <button mat-menu-item  (click)="goToParentTask()">
        <span> Go to Parent Task</span>
      </button>

      <button mat-menu-item  (click)="onAddToSchedule(task)">
        <span> Add to schedule</span>
      </button>

      <button mat-menu-item  (click)="onAddChildTask(task)" >
        <span>Add Child Task</span>
      </button>
      <button mat-menu-item  (click)="onAddSiblingTask(task)">
        <span>Add sibling task</span>
      </button>
    </mat-menu>
    </div>

    <form [formGroup]="TaskForm">

<p class="labelName"> <strong> Labels </strong> </p>
        <mat-form-field class="example-chip-list" style="width: 50%">

          <input
            placeholder="New label..."
            #labelInput
            [formControl]="labelCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList">
            <!--matChipInputAddOnBlur="false" -->
            <!--(matChipInputTokenEnd)="onClickAfterAddingChip($event)" -->
            <!-- (blur)="addOnBlur($event)" -->

          <mat-chip-list #chipList [formControl]="chipListCtrl" aria-label="Label selection">
            <mat-chip
              *ngFor="let label of chipListCtrl.value"
              (removed)="remove(label)">
              {{label}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onNewChipSelected($event)">
            <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
              {{label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


      <button mat-raised-button color="primary" class="saveLabel" (click)="saveLabels(task)"> Save  <mat-icon>label_important</mat-icon>
      </button>
    </form>




<!--    <button mat-raised-button color="primary" (click)="seeInTaskTree()">-->
<!--         See in Task Tree-->
<!--    </button>-->

<!--    <button  mat-raised-button color="primary" (click)="goToParentTask()">-->
<!--      Go to Parent Task-->
<!--    </button>-->

<!--    <button mat-raised-button color="primary" (click)="onAddToSchedule(task)">-->
<!--      Add to schedule-->
<!--    </button>-->

<!--    <button mat-raised-button color="primary" (click)="onAddChildTask(task)">-->
<!--      Add child task-->
<!--    </button>-->

<!--    <button mat-raised-button color="primary" (click)="onAddSiblingTask(task)">-->
<!--      Add sibling task-->
<!--    </button>-->

    <p><strong>Complete Task Description</strong></p>
    <div [innerHTML]="task.description| markdown"></div>


    <app-show-checklist [id] = "this.task.taskId" [type]="'task'"></app-show-checklist>

    <br/>
    <p><strong> DownStream Dependency</strong></p>
    <app-view-dependency [Type] = "'downstream'"></app-view-dependency>

    <br/>
    <p><strong> Upstream Dependency</strong></p>
    <app-view-dependency [Type] = "'upstream'"></app-view-dependency>
    <br/>

    <br/>
    <p><strong> Task Time Calculation</strong></p>
    <app-article-time-calculation [TaskHierarchyList] = "[TaskHierarchy]" ></app-article-time-calculation>
    <br/>
    <p><strong> Children Task Time Calculation</strong></p>
    <app-article-time-calculation [TaskHierarchyList] = "TaskHierarchy.childrenTaskHierarchy" ></app-article-time-calculation>



    <br/>
    <div class="article-actions">

    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div >
          <app-list-errors></app-list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                          placeholder="Write a comment..."
                          rows="3"
                          [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <app-article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </app-article-comment>

      </div>
    </div>

  </div>
</div>
