<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }

  .is-active {
    background-color: mediumaquamarine;
  }

  /* code inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive */
  .master {
    width: 320px;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }

  div.detail {
    margin-left: 320px;
  }
   .is-active {
     background-color: mediumaquamarine;
         }
  .app-class .mat-list-item {
    height: auto;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .alignCentre{
  text-align: center;
  display: inline;
    padding: 0 10px 0 10px;
  }


</style>

<div style="text-align: center">
<h4 class = alignCentre>TaskTree</h4>
<mat-slide-toggle color="primary" (click) = "toggle()" ></mat-slide-toggle>
<h4 class = alignCentre>Template</h4>
</div>
<hr style="padding: 0">

<div >
  <div class='master'>
    <app-common-task-hierarchy [setLevel] = "'0'" [displayTaskId] = "sendL0TaskId" [highlightTaskId]="sendL0HId" (sendLevelAndId)="levelAndIdReceivedFromChild($event)" ></app-common-task-hierarchy>
  </div>
<div class='detail'>
  <div class='master'>
    <app-common-task-hierarchy [setLevel] = "'1'" [displayTaskId] = "sendL1TaskId" [highlightTaskId]="sendL1HId" (sendLevelAndId)="levelAndIdReceivedFromChild($event)" ></app-common-task-hierarchy>
  </div>
  <div class='detail'>
    <div class='master'>
      <app-common-task-hierarchy [setLevel] = "'2'" [displayTaskId] = "sendL2TaskId" [highlightTaskId]="sendL2HId" (sendLevelAndId)="levelAndIdReceivedFromChild($event)"></app-common-task-hierarchy>
    </div>
    <div class='detail'>
      <div class='master'>
        <app-common-task-hierarchy [setLevel] = "'3'" [displayTaskId] = "sendL3TaskId" [highlightTaskId]="sendL3HId" (sendLevelAndId)="levelAndIdReceivedFromChild($event)"></app-common-task-hierarchy>
      </div>
    </div>

  </div>
</div>
  </div>
