<p> Work Hrs for unplanned Task {{unplannedTask.taskId}}</p>
<div [formGroup]=" updateScore">
  <div *ngIf = "unplannedTask.unplannedTaskData.scoreStatus != 'requested'">


<!--<div *ngIf = "!unplannedTask.score && !unplannedTask.actualHours">-->
<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter request Hrs</mat-label>
    <input  type="number" matInput formControlName="hours" placeholder="Placeholder">
    <mat-hint>Example-  2 </mat-hint>
  </mat-form-field>
  <button class="button"  mat-raised-button (click)="request()">Request Hrs</button>

</p>
</div>
<div   *ngIf = "unplannedTask.unplannedTaskData.scoreStatus == 'requested'">

  <p> User requested for {{unplannedTask.unplannedTaskData.requestedHours}} hrs </p>

  <mat-form-field appearance="outline">
    <mat-label>Enter Approved Hrs</mat-label>
    <input matInput formControlName="hours" placeholder="Placeholder">
    <mat-hint>Example-  2</mat-hint>
  </mat-form-field>

<button  class="button" mat-raised-button  (click)="approve()">Approve Hrs</button>
</div>
</div>
<!--*ngIf = "!unplannedTask.actualHours"-->
<!--*ngIf = "unplannedTask.actualHours == 0"-->
<!--display: inline-block ;-->
