
  <form [formGroup]="resetPassword" class="example-form">
   <div *ngIf="!otpSend">
<!--  <form #email class="example-form">-->
     <h4>Enter email</h4>
    <mat-form-field  class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName = "emailId"
             >
            <mat-error *ngIf="resetPassword.controls['emailId'].hasError('email') && !resetPassword.controls['emailId'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="resetPassword.controls['emailId'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<!--  </form>-->
  <button [disabled]= "otpSend || resetPassword.controls['emailId'].invalid " mat-raised-button color="primary" (click)="sendOTP()">Send OTP</button>
</div>
<br>
<div *ngIf="otpSend">

  <h4>Enter detail for email- {{resetPassword.controls['emailId'].value}}</h4>

<!--  <form [formGroup]="resetPassword" class="example-form">-->
    <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Enter New Password</mat-label>
      <input type = "password" matInput formControlName = "newPassword">

      <mat-hint>Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters
        Password cannot contain whitespace</mat-hint>
    </mat-form-field>
  <br><br>
      <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Confirm New Password</mat-label>
      <input type = "password" matInput formControlName = "confirmPassword">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Enter OTP</mat-label>
      <input  matInput formControlName = "otp">

    </mat-form-field>
  <button [disabled]="!otpSend || resetPassword.invalid" mat-raised-button color="primary" (click)="resetPass()">Reset Password</button>

</div>
      </form>



