<style>
 /* .remove {*/
 /*   border: #dbdbdb;*/
 /*   padding-left: 0;*/
 /*}*/
 /*.chip-row {*/
 /*    margin: 2rem 0 0 0.5rem;*/

 /* }*/
 /* .cancelIcon {*/
 /*   color: darkgray;*/
 /*  vertical-align: middle;*/
 /*   background-color: white;*/
 /* }*/

.saveButton {
  float: left;
}

</style>







<form [formGroup]="taskForm" *ngIf="taskForm">

<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="taskId" placeholder="Task Id">
  </mat-form-field>

  <mat-form-field>
    <label >Deadline</label>
    <input matInput formControlName="deadline" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select  formControlName="assignedTo">
      <mat-option></mat-option>
      <mat-option [value]="user.profileId" *ngFor="let  user of Users" >
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created By</mat-label>
    <mat-select  formControlName="createdBy"  required>
            <mat-option [value]="user.profileId" *ngFor="let  user of Users" >
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="description" placeholder="Task Description (Short)" required >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Position After</mat-label>
    <mat-select formControlName="positionAfter">
      <mat-option></mat-option>
      <mat-option [value]="shortTask.taskId" *ngFor="let  shortTask of taskIdListForPosition"  >
        {{shortTask.taskId + '. ' + shortTask.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Estimated Hrs</mat-label>
    <input matInput formControlName="expectedHours" placeholder="Expected Hours">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hrs spent till now</mat-label>
    <input matInput formControlName="hrsSpentTillNow" placeholder="Hours spend till now">
  </mat-form-field>
</li>

  <li class="mat-form-field--inline">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option></mat-option>
        <mat-option [value]="status" *ngFor="let  status of StatusList" >
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Parent Task Id</mat-label>
      <mat-select formControlName="parentTaskId">
        <mat-option></mat-option>
        <mat-option [value]="shortTask.taskId" *ngFor="let  shortTask of taskIdListForParent"  (click)="onParentTaskIdChange(shortTask.taskId)" >
          {{shortTask.taskId + '. ' + shortTask.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>

  <li class="mat-form-field--inline">

    <mat-form-field>
      <label >Created at</label>
      <input matInput formControlName="createdAt" [matDatepicker]="picker1" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

  <mat-form-field>
    <mat-label> Acceptance Criteria </mat-label>
    <input matInput formControlName="acceptanceCriteria">
  </mat-form-field>

  </li>


</form>



  <div mat-dialog-actions>
    <button  class="saveButton" mat-raised-button  color="primary" (click)="onClick()" [disabled]= "!taskForm.valid || clicked " >
    Save Changes
    </button>
  </div>



