<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">Flexli</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      A warehouse automation company <a href="www.flexli.in"></a>.
      Code licensed under Flexli pvt ltd.
    </span>

  </div>
</footer>
