<br />
<h1 mat-dialog-title>{{ isEdit ? "Update Sprint" : "Add Sprint" }}</h1>

<div mat-dialog-content>

  <form [formGroup]="newSprint">

    <li class="mat-form-field--inline">

    <mat-form-field>
      <label >Sprint Id</label>
      <input matInput formControlName="sprintId" required />
      <mat-error *ngIf="newSprint.get('sprintId').invalid">You must enter a value</mat-error>
    </mat-form-field>



    <mat-form-field>
      <label >Owner</label>
      <mat-select [(value)]="loggedInUserId" formControlName="owner">
        <mat-option [value]="user.profileId" *ngFor="let  user of UserList" >
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </li>
    <br />
    <br />

    <li class="mat-form-field--inline">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field  >
        <mat-label  > Select score policy </mat-label>
        <mat-select formControlName="scorePolicy" required>
          <mat-option [value]="policy" *ngFor="let policy of scorePolicy"> {{policy}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>

    <br />
    <br />
    <li class="mat-form-field--inline">
      <mat-form-field>
        <label >From Date </label>
        <input matInput formControlName ="fromDate" [matDatepicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <label >To Date </label>
        <input matInput formControlName ="toDate" [matDatepicker]="picker1" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </li>

    <br />
    <br />

    <br />
    <br />


  </form>
</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary"  [disabled]="newSprint.invalid || clicked"
          (click)="onAddOrUpdate()">
    {{ isEdit ? "Update" : "Add" }}
  </button>
</div>
