<style>
  .mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }
</style>
<div class="example-action-buttons" style="padding: 10px">

   <button mat-button (click)="accordion.closeAll()"><mat-icon><span class="material-symbols-outlined">
expand_less
</span></mat-icon></button>

  <button mat-button
                    (click) = "onAddOrEditSprint(false)">
    <mat-icon><span class="material-symbols-outlined">add
</span></mat-icon>
</button>
  <button class="btn btn-sm btn-outline-danger pull-xs-right"
          (click) = "onShowSchedulesForTask('all')">
    <i class="icon ion-refresh"></i> Refresh Calender
  </button>





</div>

<p *ngIf="sprintList.length == 0">No Sprint exists for the user.</p>
<mat-accordion>
  <mat-expansion-panel *ngFor="let sprint of sprintList"
                       (click)="onRowClick(sprint)">


    <mat-expansion-panel-header>
      <mat-panel-title>
        Sprint: {{sprint.sprintId}} - {{sprint.description == null? '' : ( (sprint.description.length>40)? (sprint.description | slice:0:40)+'...':(sprint.description) )}}

      </mat-panel-title>

      <mat-panel-description>
      </mat-panel-description>

      <mat-panel-description>
        <button class="pull-xs-right btn btn-sm btn-outline-danger"
        (click) = "onAddOrEditSprint(true,sprint)">
          <i class="ion-edit"></i>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <br/>
    <br/>
    <p *ngFor="let task of selectedSprint.plannedTasks"
       class="grid5">
      <a [routerLink]="['/article',task.taskId]" >
        {{task.taskId}} - {{task.description|slice:0:50 }}{{1 == 1 ? '...' : ''}} - {{task.expectedHours}} </a>
      <button  class="pull-xs-right btn btn-sm btn-outline-danger" (click)= "onRemoveTaskFromSprint(task)">
        <i class="icon ion-arrow-swap"></i>
      </button>
      <button  class="pull-xs-right btn btn-sm btn-outline-danger" (click)= "onUpdateOrScheduleNewTask(task)">
        <i class="icon ion-star"></i>
      </button>
      <button  class="pull-xs-right btn btn-sm btn-outline-danger" (click)= "onShowSchedulesForTask(task.taskId)">
        <i class="icon ion-calendar"></i>
      </button>

    </p>
  </mat-expansion-panel>
</mat-accordion>

