
<br/>
<br/>

<table class='table' *ngIf="TaskSummaryList">
  <thead>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Expected Output</th>
    <th>Hrs</th>
    <th>Actual Output</th>
    <th>Hrs</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let taskSummary of TaskSummaryList">
    <td>{{ taskSummary.taskId }}</td>
    <td>{{ taskSummary.date.slice(0,10) }}</td>
    <td>{{ taskSummary.expectedOutput }}</td>
    <td>{{ taskSummary.expectedHour }}</td>
    <td>{{ taskSummary.actualOutput}} </td>
    <td>{{taskSummary.actualHour}}</td>
  </tr>
  </tbody>
</table>
