

<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onAddFromTemplate()">
  Add From Template
</button>


<div class="home-page">

  <div class="container page">
    <div class="row">
      <div class="col-md-12">
        <app-task-form [taskForm]="EditTaskForm" > </app-task-form>
    </div>
  </div>
  </div>
</div>

