<style>
  .master {
    width: 320px;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }

  div.detail {
    margin-left: 320px;
  }
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .app-class .mat-list-item {
    height: auto;}
</style>

<div class="col-sm-12">

  <h4 *ngIf="!receivedTemplateId">Please select a Template.</h4>
  <h4 *ngIf="receivedTemplateId && !levelTemplate">Loading...</h4>


  <div *ngIf="levelTemplate && receivedTemplateId">

    <p *ngIf="levelTemplate.length == 0">No template exists.</p>
    <br/>
    <button mat-raised-button color="primary" (click)="onAddChildTemplate()">
      Add Child Template
    </button>

    <br />
    <br />


    <mat-list class = "app-class">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let template of levelTemplate"

                     (click)="onRowClick(template)"
                     [ngClass]="{'is-active' : template.templateId === selectedTemplateId }"

      >


        <div mat-line>{{template.templateId +'. '+ template.description}} </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon></button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClickCheckSimilar(template)">
            Check Similar
          </button>
          <button mat-menu-item (click)="onClickEdit(template)">
            Edit Template
          </button>
          <button mat-menu-item (click)="onClickClone(template)">
            Clone Template
          </button>
          <button mat-menu-item (click)="onClickRemove(template.templateId)">
            Remove Template
          </button>
          <button mat-menu-item (click)="onClickGenerateTask(template)">
            Generate Task
          </button>

        </mat-menu>

        <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>

