.highlight {
  background-color: #e8f0fe;
}
.is-active {
  background-color: mediumaquamarine;
}

.cellMedium {
  text-align: center;
}

.cellLarge {
  text-align: left;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

mat-form-field {
    padding: 5px;
  width: 300px
}

button {
 margin: auto;
}




