<h3 style="text-align: center">Template Pool</h3>
<div class = "container" >

<form  [formGroup]="templateSearch"  class="search-form" >
  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>Search</mat-label>
    <input formControlName="description" matInput #search maxlength="500" placeholder="Type template description words">

  </mat-form-field>
</form>

<button style="margin-left: 0" mat-raised-button color="primary" (click) = "searchTemplates(search.value, paginator)">Search</button>

<mat-paginator style="margin-right: 0" #paginator
               [length]="length"
               [pageIndex]="pageIndex - 1  "
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)=" updateList($event) "
>
</mat-paginator>
</div>
<table class='table' *ngIf="templatePool">
  <thead>
  <tr>
    <th class = "td-center">result ID</th>


    <th class="cellLarge">Description</th>
    <th class="cellMedium">Created By</th>
    <th class="cellMedium">Child Temp</th>




  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let template of templatePool" (click)="selectedTemplate(template)"
      [ngClass]="{highlight: template.templateId == selectedTemplateId}"

  >

    <td class="cellSmall">{{template.templateId}}</td>

    <td class="cellLarge"> {{ template.description }}</td>

    <td class="cellMedium"> {{template.owner}}</td>

    <td class="cellMedium"> <span *ngFor = " let childTemplate of template.childTemplateIds; let isLast = last">
      {{ childTemplate }} {{isLast ? '.' : ','}}
    </span>
      </td>



  </tr>

  </tbody>
  <tfoot>
  <tr>

    <td></td>
    <td></td>
    <td></td>
    <td></td>


  </tr>
  </tfoot>
</table>

<div *ngIf="data.action == 'addChild'" >
<button mat-raised-button color="primary" (click)="onAddClick() " style="margin-right: 10px">
  Add
</button>

  <button mat-raised-button color="primary" (click)="onCreatNewTemplate()" style="margin-right: 10px">
    New Template
  </button>
</div>


<div *ngIf="data.action == 'checkSimilar'" >
<button mat-raised-button color="primary" (click)="onReplace()" style="margin-right: 10px">
  Replace template
</button>
<button mat-raised-button color="primary" (click)="onCheckout()">
  Checkout template
</button>
</div>
