.is-active {
  background-color: mediumaquamarine;
}

 mat-header-cell {
   color: black;
   font-size: 14px;
   font-weight: bold
 }

.highlight {
  background-color: #e8f0fe;
}
.is-active {
  background-color: mediumaquamarine;
}

.master {
  width:320px;
  position: fixed;
  height: 500px;
  overflow: auto;
  border-right: 2px solid #dbdbdb;
}

div.detail {
  margin-left: 320px;
}
:host /deep/ .mat-list-item-content {
  padding: 0!important;

}
.app-class .mat-list-item {
  height: auto;}
.alignCentre{
  text-align: center;
  display: inline;
  padding: 0 10px 0 10px;
}
