<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }
.checkoutStyle{
  padding: 0 12px 0;
}
.butStyle {
  alignment: right;
}
  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .app-class .mat-list-item {
    height: auto;}
</style>
<div style="text-align: center">
  <h4 class = alignCentre>TaskTree</h4>
  <mat-slide-toggle color="primary" [checked] = true (click) = "toggle()" ></mat-slide-toggle>
  <h4 class = alignCentre>Template</h4>
</div>
<hr style="padding: 0">

<div class='master'>


<!--    <p *ngIf="!CheckedOutTemplate">Loading templates..</p>-->

    <div *ngIf="checkedOutTemplate">
      <div class= " checkoutStyle"> Checkout - {{checkedOutTemplate.templateId +'.'+ checkedOutTemplate.description}}
        <button class=" butStyle" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button> </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClickCheckSimilar(checkedOutTemplate.templateId,'dummy','dummy','base')">
            Check Similar
          </button>
          <button mat-menu-item (click)="onClickEdit(checkedOutTemplate, 'dummy','dummy')">
            Edit Template
          </button>
          <button mat-menu-item (click)="onClickClone(checkedOutTemplate)">
            Clone Template
          </button>
          <button mat-menu-item (click)="onClickGenerateTask(checkedOutTemplate.templateId)">
            Generate Task
          </button>

        </mat-menu>

    </div>
  <hr>


  <app-common-template-hierarchy [setLevel] = "'0'" [displayTemplateId] = "sendL0TemplateId" (templateEventSend)="templateEventReceived($event)"></app-common-template-hierarchy>
</div>
  <div class='detail'>
  <div class='master'>
    <app-common-template-hierarchy [setLevel] = "'1'" [displayTemplateId] = "sendL1TemplateId" (templateEventSend)="templateEventReceived($event)"></app-common-template-hierarchy>
  </div>
  <div class='detail'>
    <div class='master'>
      <app-common-template-hierarchy [setLevel] = "'2'" [displayTemplateId] = "sendL2TemplateId" (templateEventSend)="templateEventReceived($event)"></app-common-template-hierarchy>
    </div>
    <div class='detail'>
      <app-common-template-hierarchy [setLevel] = "'3'" [displayTemplateId] = "sendL3TemplateId" (templateEventSend)="templateEventReceived($event)"></app-common-template-hierarchy>
    </div>

  </div>
  </div>




