<style>
  .viewSchedule {
    width: 500px;
  }

  .fieldView {
    margin-right: 5%;
    width: 45%;
  }
  .fieldViewFull {
    margin-right: 5%;
    width: 95%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
    margin-right: 100px
  }
</style>



  <h1 mat-dialog-title>{{ isEdit ? "Update Schedule" : "Add Schedule" }}</h1>

  <form class = "viewSchedule" [formGroup]="newTaskSchedule">


    <mat-form-field class = "fieldView">
      <label >Task Schedule Id</label>
      <input matInput formControlName="taskScheduleId" required />
      <mat-error *ngIf="newTaskSchedule.get('taskScheduleId').invalid">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field class = "fieldView">
      <label >Task Id</label>
      <input matInput formControlName="taskId" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />


    <mat-form-field class = "fieldView">
      <label>Description</label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field class = "fieldView">
      <label > Date </label>
      <input matInput formControlName ="date" [matDatepicker]="picker"  >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br />


    <mat-form-field class = "fieldView">
      <label >Start hr </label>
      <input matInput formControlName="startHour" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field class = "fieldView">
      <label >Start min </label>
      <input matInput formControlName="startMinute" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>

  <br/>


  <mat-form-field class = "fieldView">
    <label >Stop hr </label>
    <input matInput formControlName="stopHour" required />
    <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field class = "fieldView">
    <label >Stop min </label>
    <input matInput formControlName="stopMinute" required />
    <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    <br>
  </mat-form-field>

    <mat-radio-group formControlName="isPlanned">
      <mat-radio-button [checked]="true" labelPosition="before" name="isPlanned" value="true">Planned</mat-radio-button>
      <mat-radio-button labelPosition="before" name="isPlanned" value="false">Unplanned</mat-radio-button>
    </mat-radio-group>


    <div mat-dialog-actions align="end">
      <button mat-raised-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" cdkFocusInitial [disabled]="newTaskSchedule.invalid || clicked"
              (click)="onUpdate()">
        {{ isEdit ? "Update" : "Add" }}
      </button>
    </div>


  </form>







