<!--<div class="example-action-buttons">-->
<!--  <button mat-button (click)="accordion.closeAll()">Collapse All</button>-->
<!--</div>-->

<div *ngIf="DailyScheduleList">
  <p *ngIf="DailyScheduleList.length == 0">No Task Scheduled for onNewChipSelected date</p>
  <div *ngIf="DailyScheduleList.length != 0">

    <h6 style=" padding: 16px">Task Summary for date: {{DailyScheduleList[0].date | date}} </h6>
        <mat-accordion>
      <mat-expansion-panel  *ngFor="let taskSchedule of DailyScheduleList"
                            (opened) = "getTaskSummary(taskSchedule)"

                            [ngClass]= " taskSchedule.taskSummary !== null ?
                            ({'expectedOutputAdded':  taskSchedule.taskSummaryId !== null,
                            'actualOutputAdded': taskSchedule.taskSummary.actualOutput !== null}): 'noTaskId'">


        <mat-expansion-panel-header >
          <mat-panel-title>
            {{taskSchedule.taskId}} - {{ (taskSchedule.description.length>35)? (taskSchedule.description | slice:0:35)+'...':(taskSchedule.description) }}

          </mat-panel-title>

          <mat-panel-description class="right-aligned">

            <button [disabled] = "dateCheck" class=" pull-xs-right btn btn-sm btn-outline-danger"
                    (click)="onDeleteTaskSchedule(taskSchedule.taskScheduleId)">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-profile-task-summary-form [config]="UpdatedTaskSummary" [profileId]="ProfileId"

        ></app-profile-task-summary-form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
 <p></p>
</div>



