.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.expectedOutputAdded {background-color: lightblue}
.actualOutputAdded {background-color: beige}
.noTaskId { background-color: white}

mat-panel-description.right-aligned {
  flex-grow: 0;
}

/*<<<<<<< HEAD*/
/*.user-info {*/
/*  padding-top: 1rem;*/
/*  height: 11rem;*/
/*}*/

/*.name {*/
/*  position: absolute;*/

/*}*/

/*.profileSearch {*/
/*  position: absolute;*/
/*  display: flex;*/
/*  padding-top: 3rem;*/
/*  z-index: 1000;*/
/*}*/

/*.buttons {*/
/*  position: absolute;*/
/*  display: block;*/
/*  padding-top: 8rem*/
/*}*/

/*=======*/
/*>>>>>>> origin/V1.9Development*/
.paginator {
  width: auto;
}

.container{
  padding: 0;
  display: flex;
  flex-direction: column;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.bottom{
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.change {
  flex: 1;
}


.nameTag{
  display: flex;
  justify-content: center;
}
.searchButton {
  display: inline;
  padding: 0;
  scale: 90%;
  background-color: white;
  border: white;
}

.labelForm {
  display: inline-block;
}
.labelBlock {
  display: inline-block;
  position: relative;
  left: -2.5rem;
}

.filterButton {
  background-color: white;
  border: white;
  padding-left: 3px;
}

.searchIcon {
  padding-left: 7px;
}
