<div class="profile-page">
<!--  <div class="container>-->

<!--  </div>-->



    <div class="container" >

      <div class="top">
          <div style="display: inline-block">
            <form [formGroup]="parentForm" class="search-form" style="display:inline-block;" >
              <mat-form-field class="example-full-width" >
                <mat-label>Search</mat-label>
                <input formControlName="description"  matInput #search maxlength="500" placeholder="Type task description">
              </mat-form-field>
            </form>

              <button class="searchButton searchIcon"  (click) = "searchTask(search.value, 1)" [disabled]="clicked"><mat-icon><span class="material-symbols-outlined">search</span></mat-icon></button>
              <br>
              <button class="searchButton" *ngIf = "!toggleDetailSearch"  (click)="toggleNew()" [disabled]="clicked">
                <mat-icon><span class="material-symbols-outlined">expand_more</span></mat-icon></button>

              <button class="searchButton" *ngIf = "toggleDetailSearch" (click)="toggleNew()" >
                <mat-icon><span class="material-symbols-outlined">expand_less</span></mat-icon></button>

            </div >
            <div  class="labelBlock">

            <form [formGroup]="labelForm" class="labelForm" style="display: inline-block; "  >
              <mat-form-field class="example-chip-list" style="width: 50%">

                <input
                  placeholder="New label..."
                  #labelInput
                  [formControl]="labelCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList">
                <!--matChipInputAddOnBlur="false" -->
                <!--(matChipInputTokenEnd)="onClickAfterAddingChip($event)" -->
                <!-- (blur)="addOnBlur($event)" -->

                <mat-chip-list #chipList [formControl]="chipListCtrl" aria-label="Label selection">
                  <mat-chip
                    *ngFor="let label of chipListCtrl.value"
                    (removed)="remove(label)">
                    {{label}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>

                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onNewChipSelected($event)">
                  <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
                    {{label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              </form>
            <button class="filterButton" (click) = "filterTask()" [disabled]="clicked"><mat-icon class="material-icons">filter_list</mat-icon></button>
            </div>

        <div>
          <div class=" nameTag">
            <h3> {{this.profileName | titlecase}}'s Profile</h3>
          </div>


          <button class="btn btn-sm btn-outline-danger pull-xs-left"
                      (click)="onPlanSprint()">
          <i class="ion-edit"></i> Plan your Sprint</button>
          <button class="btn btn-sm btn-outline-danger pull-xs-left"
                  (click)="onPlanDay()">
            <i class="ion-edit"></i> Plan your Day
          </button>

          <button class="btn btn-sm btn-outline-danger pull-xs-left" (click)="onDaySummary()">
            <i class="ion-edit"></i> Day Summary
          </button>
        </div>

        <div >

          <mat-form-field appearance="fill">
            <mat-label>{{'Change Profile'}}</mat-label>
            <mat-select>
              <mat-option *ngFor="let user of this.options" [value]="user" (click)= updateProfile(user) >
                {{user}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>


      <div class = "bottom">
        <div *ngIf="this.toggleDetailSearch" >
          <app-home-search-form  [searchForm] ="parentForm"
                                 [hidden]="togglePlanner === 'summary'"></app-home-search-form>
        </div>

        <div class="change"  [hidden]="togglePlanner === 'summary'">
          <mat-paginator *ngIf="!this.toggleDetailSearch" class="paginator"  #paginator
                         [length]="length"
                         [pageIndex]="pageIndex -1 "
                         [pageSize]="pageSize"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         (page)="updateList($event)">
          </mat-paginator>
          <app-profile-task-dump [options]= "getSprintIds()" ></app-profile-task-dump>
        </div>


        <div class="col-xs-6" style="padding-left: 0" [hidden]="togglePlanner !== 'sprint-planner'">

          <app-sprint-planner [profile]="profileId" [sprintList]="sprintList"
                              (newItemEvent)="updateSprintList($event)"></app-sprint-planner>
        </div>

        <div class="col-xs-6" [hidden]="togglePlanner !== 'day' && togglePlanner !== 'summary'">
          <app-profile-daily-plan-calender  [profile]="profileId" ></app-profile-daily-plan-calender>
        </div>

        <div class="col-xs-6" [hidden]="togglePlanner !== 'summary'">
          <app-profile-daily-plan-summary  [profile]="profileId"></app-profile-daily-plan-summary>
        </div>
      </div>
    </div>
<!--<<<<<<< HEAD-->


  </div>






<!--=======-->
<!--  </div>-->
<!--</div>-->
<!--&gt;>>>>>> origin/V1.9Development-->
