
<h1 mat-dialog-title>{{ data.isEdit ? "Update Template" : "Add Template" }}</h1>

<form [formGroup]="newTemplate" class="viewForm" *ngIf="newTemplate">


    <mat-form-field class="fieldView">
      <input matInput formControlName="templateId" placeholder="Template Id">
    </mat-form-field>


    <mat-form-field class="fieldView">
      <mat-label>Created By</mat-label>
      <mat-select [(value)]="loggedInUserId" formControlName="owner">
        <mat-option [value]="user.profileId" *ngFor="let  user of UserList" >
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <br/>


    <mat-form-field class="fieldViewFull">
      <input matInput formControlName="description" placeholder="Template Description">
    </mat-form-field>

  <br/>

  <mat-form-field class="fieldView">
    <input matInput formControlName="role" placeholder="role">
  </mat-form-field>


    <mat-form-field class="fieldView">
      <mat-label >Created at</mat-label>
      <input matInput formControlName="createdAt" [matDatepicker]="picker1" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

<br/>

</form>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSave()">
    Save Template
  </button>

</div>

<div class="checkList">

  <app-show-checklist [id] = "this.typeId" [type]="'Template'"></app-show-checklist>

</div>
