
<mat-paginator [disabled] = "disableButtons"

              [length]="length"
              [pageIndex]="pageIndex -1 "
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="updateList($event)"
>
</mat-paginator>

<div>

  <table class = "table" style="margin-left: 25px; width: 97%">

    <th class = "cellSmall">Sprint No</th>
    <th class = "cellLarge">Description</th>
    <th class = "cellSmall">Status</th>
    <th class = "cellSmall">Start Date</th>
    <th class = "cellSmall">End Date</th>
    <th class = "cellSmall">Score</th>
    <th class = "cellSmall">Menu</th>
    <th class = "cellSmall"></th>
  </table >

</div>

<mat-spinner *ngIf = "disableButtons" style="margin:0 auto;"></mat-spinner>

<div *ngIf="$event">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{$event.length}}</div>
  <div>Page size: {{$event.pageSize}}</div>
  <div>Page index: {{$event.pageIndex}}</div>
</div>

<mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel *ngFor="let panel of sortedSprintData"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-right: 0"><table class='table' style="width:100%">
        <tbody >

        <tr >
          <td class="cellSmall"> SNo ({{ panel.sprintId }})</td>
          <td class = "cellLarge">{{ panel.description }}</td>
          <td class="cellSmall"> {{panel.status}}</td>
          <td class = "cellSmall">{{panel.fromDate.slice(0,10)}}</td>
          <td class = "cellSmall">{{panel.toDate.slice(0,10)}}</td>
          <td class = "cellSmall">{{panel.score}}</td>
          <td style="vertical-align: auto "><a href="{{detailedPath + panel.sprintId}}" target="_blank">
            <mat-icon><span class="material-symbols-outlined">sticky_note_2</span></mat-icon></a></td>
          <td >


            <button mat-icon-button [matMenuTriggerFor]="menu" >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled] = "panel.status !== 'Planning' "  (click)="onRequestSprintForApproval(panel)">

                <span>Request sprint for approval</span>
              </button>

              <button mat-menu-item [disabled] = "panel.status !== 'RequestForApproval'" (click)="onApproveSprint(panel)">
                <span>Approve Sprint</span>
              </button>

              <button mat-menu-item [disabled] = "panel.status !=='Approved'" (click)="onRequestForClosure(panel)">
                <span>Request Sprint for closure</span>
              </button>

              <button mat-menu-item [disabled] = "panel.status !=='RequestForClosure'" (click)="onCloseSprint(panel)" >
                <span>Close Sprint</span>
              </button>
              <button mat-menu-item [disabled] = "panel.status !=='Closed'" (click)="onFinishReview(panel)">
                <span>Finish Review</span>
              </button>
            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table></mat-panel-title>

    </mat-expansion-panel-header>

<div style="margin-right:0%; margin-left: 0%">
  <h6 class="unPlanned">Planned Task </h6>
    <table class = "table"style="width:93%">
      <thead >
      <tr>
        <th class = "cellSmall" style="width: 20%;">Task Id</th>
        <th class = "cellLarge">Description</th>
        <th class = "cell">Status</th>
        <th class = "cell">Expected</th>
        <th class = "cell">Actual</th>
      </tr>
      </thead>
    </table>
    </div>
    <ng-container *ngIf="panel.plannedTasks.length !==0 " >

      <mat-accordion>

        <mat-expansion-panel *ngFor="let subpanel of panel.plannedTasks;"
                             (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             (click) = "getTaskSummaryForTask(subpanel.taskId, panel.fromDate, panel.toDate)"
                             hideToggle="true" >

          <mat-expansion-panel-header>

            <mat-panel-description style="margin-right: 0">
              <table  style="width:100%" >
                <tbody >
                <tr>

                  <td class = " cellSmall" style="text-align: left">
                    <a [routerLink]="['/article',subpanel.taskId]" >
                    {{ subpanel.taskId }}</a>
                  </td>
                  <td class = "cellLarge">{{ subpanel.description }}
                  </td>
                  <td class = "cell">{{ subpanel.status }}</td>
                  <td class = "cell">{{ subpanel.expectedHours }}</td>
                  <td class = "cell">{{ subpanel.actualHours }} </td>
                  <td >
                    <button class="colour"

                    (click)="onOpen(subpanel.taskId)" >
                      <mat-icon><span class="material-icons colour">fact_check</span></mat-icon>
                    </button>
                  </td>

                </tr>

                </tbody>
              </table>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-article-task-session-summary [TaskSummaryList] = "summaryList" ></app-article-task-session-summary>

        </mat-expansion-panel>


      </mat-accordion>

    </ng-container>

    <br>

<!--    Unplanned Task Code-->
    <div style="margin-right:0%; margin-left: 0%">
      <h6 class="unPlanned">Unplanned Task </h6>
      <table class = "table"style="width:93%">


        <thead >
        <tr>
          <th class = "taskSmall">Task Id</th>
          <th class = "taskLarge">Description</th>
          <th class = "taskCell" >Status</th>
          <th class = "taskCell" style="text-align: right">Requested Hrs</th>
          <th class = "taskCell" style="text-align: right">Approved Hrs</th>
        </tr>
        </thead>
      </table>
    </div>
<div *ngIf="panel.unPlannedTasks.length !==0 ">

      <mat-accordion>

        <mat-expansion-panel *ngFor="let subpanel of panel.unPlannedTasks;"
                             (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             (click) = "getTaskSummaryForTask(subpanel.taskId, panel.fromDate, panel.toDate)"
                             hideToggle="true" >

          <mat-expansion-panel-header style="padding-left: 0">
            <mat-panel-description style="margin-right: 0">
              <table  style="width:100%" >
                <tbody >
                <tr>
                  <td class = " cellSmall" >
                    <a [routerLink]="['/article',subpanel.taskId]" >
                      {{ subpanel.taskId }}</a>

                  </td>
                  <td class = "cellLarge">{{ subpanel.description }}</td>
                  <td class = "cell ">{{ subpanel.status }}</td>
                  <td class = "cell" >{{ subpanel.unplannedTaskData.requestedHours == null? "not requested" : subpanel.unplannedTaskData.requestedHours }} </td>
                  <td class = "cell">
                    <div *ngIf = " subpanel.unplannedTaskData.scoreStatus == 'reviewed'">
                      {{subpanel.unplannedTaskData.approvedHours}}
                    </div>
                    <div *ngIf=" subpanel.unplannedTaskData.scoreStatus != 'reviewed' "  >
                      <button class="button" mat-raised-button (click)="requestScore(panel.sprintId , subpanel)">

                        {{ subpanel.unplannedTaskData.scoreStatus == "requested" ? "Approve" : "Request" }}</button>

                    </div>
                     </td>
                </tr>

                </tbody>
              </table>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-article-task-session-summary [TaskSummaryList] = "summaryList" ></app-article-task-session-summary>

        </mat-expansion-panel>

      </mat-accordion>
</div>




  </mat-expansion-panel>

</mat-accordion>

