.mat-expansion-panel-header {
 padding-top: 10px !important;
  padding-bottom: 10px !important;
  vertical-align: center !important;

}
.cellLarge {  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  height: fit-content;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.cellSmall {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word !important;
  word-break: break-word;
  height: fit-content !important;

  vertical-align: center !important;

  text-align: center;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.cell { word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  height: fit-content !important;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;}

.cellXSmall {
  width: 5% !important;
  text-align: center;
  padding: 0;
  height: fit-content !important;
}

.cellM {
  width: 30% !important;
}

.hidden{
  visibility: hidden;
}
.left {
  text-align: left;
}
.vcenter {
  align-items:center;
}

.table td {
vertical-align: bottom;}


h6 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: small;
}

.unPlanned {
padding-bottom: 4px;
}

.colour {
  color: #5cb85c;
  background-color: white;
  border: white;

}

.taskSmall {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word !important;
  word-break: break-word;
  height: fit-content !important;

  vertical-align: center !important;

  text-align: center;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.taskLarge {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  height: fit-content;
  /*text-align: center;*/

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.taskCell {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  height: fit-content !important;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.button {
  background-color: #5cb85c;
  color: white;

}
