
.small{
  display: inline-block;
  width: 100%;
}
.full {
  display: inline-block;
  justify-content: space-between;
  width: 81%;
  padding-left: 15px;

}
.button {

  /*margin-left: 2rem;*/

  margin-left: 1rem;


}
.search-form {
  display: inline-block;
}
.buttonIcons {
  display: inline-block;
  vertical-align:bottom;
}
.feed-toggle {
  display: inline-block;
}
.paginator {
  margin-right: 0;

}
.searchComponentTag {
  display: inline-block;
  vertical-align: top;
}

