<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">FlexliOne</h1>
      <p>A place to  <i>Plan</i> your Day.</p>
    </div>
  </div>

  <div class="container page" >
    <div >
      <form [formGroup]="parentForm" class="search-form" >

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search</mat-label>
          <input formControlName="description"  matInput #search maxlength="550" placeholder="Type task description">
        </mat-form-field>
      </form>

      <div class = "buttonIcons">
        <button mat-flat-button (click) = "searchTask(search.value, 1)" [disabled] = "clicked"><mat-icon><span class="material-symbols-outlined">search</span></mat-icon></button>
        <br>
        <button *ngIf = "!toggleDetailSearch" mat-flat-button (click)="toggle()" [disabled] = "clicked">
          <mat-icon><span class="material-symbols-outlined">expand_more</span></mat-icon></button>

        <button *ngIf = "toggleDetailSearch" mat-flat-button (click)="toggle()" >
          <mat-icon><span class="material-symbols-outlined">expand_less</span></mat-icon></button>
      </div >

      <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': listConfig.type === 'feed'}"
               (click)="setListTo(this.globalSearch)">
              Global Feed
            </a>
          </li>

        </ul>
      </div>
    </div>

    <mat-paginator *ngIf = "!toggleDetailSearch" class="paginator"  #paginator
                   [length]="length"
                   [pageIndex]="pageIndex - 1"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)=" updateList($event)  "
                   [disabled] = "clicked">
    </mat-paginator>

    <app-home-search-form  class="searchComponentTag" [searchForm]= "parentForm" *ngIf = "toggleDetailSearch" > </app-home-search-form>

    <app-article-list [ngClass]="{'small': toggleDetailSearch === false,'full': toggleDetailSearch ===true}"
                      [limit]="10"></app-article-list>

  </div>
</div>


