<div class="card">
  <div class="card-block">
    <p class="card-text">
      {{ comment.message }}
    </p>
  </div>
  <div class="card-footer">
    <a class="comment-author" [routerLink]="['/profile', comment.createdBy]">
   {{comment.createdBy}}
    </a>
    &nbsp;<span class="date-posted">
      {{ comment.createdAt | date: 'longDate' }}
    </span>

  </div>
</div>

