.viewForm {
  width: 500px;
  height: auto;
padding: 10px;
}

.fieldView {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}
.fieldViewFull {
  margin-right: 5%;
  width: 95%; }

.table{
  width: 100%;
}

.small{
  width: 10%;
}

.large{
  width: 45%;
}
