
<h1 mat-dialog-title> Create Task </h1>

<form [formGroup]="generateTask" class="viewForm">


  <mat-form-field class="fieldView">
    <input matInput formControlName="templateId" placeholder="Template ID">
  </mat-form-field>

  <mat-form-field class="fieldView">
    <input matInput formControlName="taskPrefix" placeholder="Enter task prefix">
  </mat-form-field>


  <mat-form-field class="fieldView">
    <mat-label>Parent Task Id</mat-label>
    <mat-select formControlName="parentTaskId">
      <mat-option></mat-option>
      <mat-option [value]="shortTask.taskId" *ngFor="let  shortTask of taskIdListForParent"   >
        {{shortTask.taskId + '. ' + shortTask.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field class="fieldView">
      <mat-label >Created at</mat-label>
      <input matInput formControlName="createdAt" [matDatepicker]="picker1" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <br/>




<br>


<section >
  <mat-checkbox style="padding-left:5%" formControlName="includeReference" >Add Parent Template</mat-checkbox>

  <mat-checkbox style="padding-left:14%" formControlName="includeAllChildren" >Add Children Templates</mat-checkbox>
</section>
  <br>


<table class="table">
  <thead>
    <th style="padding-left: 28px">Position</th>
    <th style="padding-left: 12px">Profile</th>
  </thead>


  <tbody formArrayName = "roleProfileMap" *ngFor="let pair of roleProfileMap.controls, let i = index" required>


<tr [formGroup]= "$any(pair)">
  <td>

          <mat-form-field >
            <input matInput formControlName = "role" >
          </mat-form-field>

      </td>

      <td>
      <mat-form-field>
        <mat-label>Select Profile</mat-label>
        <mat-select formControlName= "profile" >
          <mat-option  [value]="user.profileId" *ngFor="let  user of Profiles">
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </td>


</tr>
  </tbody>

</table>



</form>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onGenerate()" [disabled]='!generateTask.valid' >Generate</button>
</div>
