<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand" routerLink="/">FlexliOne   <h6>v1.10</h6></a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="icon ion-home"></i>
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/stand-up']"
           routerLinkActive="active">
          <i class="icon ion-calendar"></i>
         Stand Up
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/task-tree"
          routerLinkActive="active">
          <i class="icon ion-grid"></i>&nbsp;Task Tree
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/settings"
           routerLinkActive="active">
          <i class="ion-gear-a"></i>Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.profileId]"
          routerLinkActive="active">
          <i class="icon ion-log-in"></i>
          {{ currentUser.name }}
        </a>

      <li class="nav-item">
        <a class="nav-link"
           routerLink="/sprint"
           routerLinkActive="active">
          <i class="icon ion-document-text"></i>
          Sprint
        </a>
      </li>

    </ul>

  </div>
</nav>
